<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/base.css">
    <title>{{ title }}</title>
</head>
<body>
    <header>
        <nav>
            <ul class="nav">
                <li class="nav-item">
                    <a class="nav-link {% if page == 'home' %}active{% endif %}" href="{{ url_for('home') }}">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% if page == 'teams' %}active{% endif %}" href="{{ url_for('teams') }}">Teams</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% if page == 'projects' %}active{% endif %}" href="{{ url_for('projects') }}">Projects</a>
                </li>
            </ul>
        </nav>
    </header>
    <main>
        {% block main %}
        {% endblock %}
    </main>
</body>
</html>